<div class="card">
  <div class="card-image p-8">
    <figure class="image is-4by3">
      <img src="https://bulma.io/images/placeholders/1280x960.png" alt="Placeholder image">
    </figure>
  </div>
  <div class="card-content p-8">
    <div class="content">
      <h4 class="has-text-primary has-text-weight-bold">Hotel Stefanos</h4>

      <div>
        <span class="icon is-small has-text-warning">
          <i class="fa fa-star fa-lg"></i>
        </span>
        <span class="icon is-small has-text-warning">
          <i class="fa fa-star fa-lg"></i>
        </span>
        <span class="icon is-small has-text-warning">
          <i class="fa fa-star fa-lg"></i>
        </span>
      </div>

      <div class="mt-16">
        <span class="icon has-text-warning mr-8">
          <img class="image-fit-contain" src="../../assets/amenities/restaurant.svg">
        </span>
        <span class="icon has-text-warning mr-8">
          <img class="image-fit-contain" src="../../assets/amenities/sheets.svg">
        </span>
        <span class="icon has-text-warning mr-8">
          <img class="image-fit-contain" src="../../assets/amenities/business-center.svg">
        </span>
      </div>

      <hr class="separator separator--dashed">

      <p class="has-text-centered has-text-weight-semibold is-marginless">Precio por noche por habitación</p>

      <div class="has-text-centered has-text-orange is-flex flex--align-center flex--justify-center">
        <span class="is-size-4 pt-1 mr-4">ARS</span>
        <span class="is-size-2 has-text-weight-bold">863</span>
      </div>

      <a class="button is-primary has-text-weight-bold mb-24 is-medium is-block">Ver hotel</a>
    </div>
  </div>
</div>
