<div class="card mb-16">
  <div class="card-image p-8">
    <figure class="image is-4by3">
      <img [src]="'../../assets/hotels/' + hotel.image">
    </figure>
  </div>
  <div class="card-content p-8">
    <div class="content card-info">
      <h4 class="has-text-primary has-text-weight-bold">{{ hotel.name }}</h4>

      <div>
        <span class="icon has-text-warning" *ngFor="let i of stars">
          <i class="fa fa-star fa-lg"></i>
        </span>
      </div>

      <div class="mt-16">
        <span class="icon has-text-warning mr-8" *ngFor="let amenity of hotel.amenities">
          <img class="image-fit-contain" [src]="'../../assets/amenities/' + amenity + '.svg'">
        </span>
      </div>
    </div>

    <hr class="separator is-dashed is-horizontal is-hidden-tablet">
    <div class="separator is-dashed is-vertical is-hidden-mobile mr-16"></div>

    <div class="content card-price">

      <p class="has-text-centered has-text-weight-semibold is-marginless">Precio por noche por habitación</p>

      <div class="has-text-centered has-text-orange is-flex flex--align-center flex--justify-center">
        <span class="is-size-4 pt-1 mr-4">ARS</span>
        <span class="is-size-2 has-text-weight-bold">{{ hotel.price }}</span>
      </div>

      <a class="button is-primary has-text-weight-bold mb-24-mobile is-medium is-block">Ver hotel</a>
    </div>
  </div>
</div>
