<div class="filter">
  <div class="filter__header has-text-centered pt-8 pb-8" (click)="open()" *ngIf="!desktop">
    <strong class="has-text-primary">
      Filtrar
      <span class="icon">
        <i class="fa" [ngClass]="expand ? 'fa-angle-up' : 'fa-angle-down'"></i>
      </span>
    </strong>
  </div>

  <div class="filter__header pt-8 pb-8 pl-16" *ngIf="desktop">
    <strong class="has-text-dark">Filtros</strong>
  </div>

  <div class="filter__content p-16" *ngIf="expand">
    <p class="has-text-primary mb-16">
      <span class="icon">
        <i class="fa fa-search"></i>
      </span>
      <strong class="has-text-primary">Nombre del hotel</strong>
    </p>

    <div class="field is-flex">
      <div class="control">
        <input [(ngModel)]="name" class="input" type="text" placeholder="Ingrese el nombre del hotel">
      </div>
      <div class="control ml-16">
        <a class="button is-primary" (click)="search()">Aceptar</a>
      </div>
    </div>
  </div>

  <div class="filter__content p-16" *ngIf="expand">
    <p class="has-text-primary mb-16">
      <span class="icon">
        <i class="fa fa-star"></i>
      </span>
      <strong class="has-text-primary">Estrellas</strong>
    </p>

    <div class="field">
      <div class="control">
        <label class="checkbox">
          <input [(ngModel)]="stars[0]" type="checkbox" checked (change)="all()"> Todas las estrellas
        </label>
      </div>
    </div>

    <div class="field">
      <div class="control">
        <label class="checkbox">
          <input [(ngModel)]="stars[5]" type="checkbox" (change)="custom()">
          <span class="icon is-small has-text-warning">
            <i class="fa fa-star"></i>
          </span>
          <span class="icon is-small  has-text-warning">
            <i class="fa fa-star"></i>
          </span>
          <span class="icon is-small  has-text-warning">
            <i class="fa fa-star"></i>
          </span>
          <span class="icon is-small  has-text-warning">
            <i class="fa fa-star"></i>
          </span>
          <span class="icon is-small  has-text-warning">
            <i class="fa fa-star"></i>
          </span>
        </label>
      </div>
    </div>

    <div class="field">
      <div class="control">
        <label class="checkbox">
          <input [(ngModel)]="stars[4]" type="checkbox" (change)="custom()">
          <span class="icon is-small has-text-warning">
            <i class="fa fa-star"></i>
          </span>
          <span class="icon is-small  has-text-warning">
            <i class="fa fa-star"></i>
          </span>
          <span class="icon is-small  has-text-warning">
            <i class="fa fa-star"></i>
          </span>
          <span class="icon is-small  has-text-warning">
            <i class="fa fa-star"></i>
          </span>
        </label>
      </div>
    </div>

    <div class="field">
      <div class="control">
        <label class="checkbox">
          <input [(ngModel)]="stars[3]" type="checkbox" (change)="custom()">
          <span class="icon is-small has-text-warning">
            <i class="fa fa-star"></i>
          </span>
          <span class="icon is-small  has-text-warning">
            <i class="fa fa-star"></i>
          </span>
          <span class="icon is-small  has-text-warning">
            <i class="fa fa-star"></i>
          </span>
        </label>
      </div>
    </div>

    <div class="field">
      <div class="control">
        <label class="checkbox">
          <input [(ngModel)]="stars[2]" type="checkbox" (change)="custom()">
          <span class="icon is-small has-text-warning">
            <i class="fa fa-star"></i>
          </span>
          <span class="icon is-small  has-text-warning">
            <i class="fa fa-star"></i>
          </span>
        </label>
      </div>
    </div>

    <div class="field">
      <div class="control">
        <label class="checkbox">
          <input [(ngModel)]="stars[1]" type="checkbox" (change)="custom()">
          <span class="icon is-small has-text-warning">
            <i class="fa fa-star"></i>
          </span>
        </label>
      </div>
    </div>
  </div>
</div>
